<!DOCTYPE html>
<html lang="en">
  <head>
    <title>audit ai</title>
    <meta property="og:title" content="audit ai" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />


    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="../static/css/home.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-container1"></div>
        <div class="home-container2">
          <div class="home-container3">
            <span class="home-text">
              <span class="home-text1">
                Audit AI : A Machine learning for detecting Fraud in Audit
                data​​​
              </span>
              <span>.</span>
            </span>
          </div>

        </div>
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEzfHxBVURJVCUyMEZSQVVEfGVufDB8fHx8MTY4NDQyNjE1NXww&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000"
          class="home-image"
        />
        <div class="home-container4">
          <span class="home-text3">
            <br />
            <span>
              Detecting fraud is important because it can help prevent
              significant financial losses and protect&nbsp;the integrity of a
              company/organization
            </span>
          </span>
        </div>
        <a href="/home" class="home-navlink3 button">
          &nbsp; &nbsp; PREDICT
        </a>
      </div>
    </div>
    <script
      data-section-id="header"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
