<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Page-2 - audit ai</title>
    <meta property="og:title" content="Page-2 - audit ai" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>

  <body>
    <div>
      
<link rel="stylesheet" href="./static/css/page-2.css" />
      <div class="page2-container">
        <div class="page2-container1">
          <div class="page2-container2">
            <div class="page2-container3">
              <span class="page2-text">
                <span class="page2-text1">
                  Audit AI : A Machine learning for detecting Fraud in Audit
                  data​​​
                </span>
                <span>.</span>
              </span>
            </div>

          </div>
        </div>
        <span class="page2-text3">The Predicted Risk Value is: {{pred}}</span>
      </div>
    </div>
    <script
      data-section-id="header"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
