<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page-1 - audit ai</title>
    <meta property="og:title" content="Page-1 - audit ai" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="./static/css/page-1.css" rel="stylesheet" />

      <div class="page1-container">
        <div class="page1-container1">
          <div class="page1-container2">
            <span class="page1-text">
              <span class="page1-text1">
                Audit AI : A Machine learning for detecting Fraud in Audit
                data​​​
              </span>
              <span>.</span>
            </span>
          </div>
        </div>
        <form action="/riskpred" method="post" class="page1-form">
          <input
          name="Sector_score"
            type="text"
            placeholder="Sector score"
            class="page1-textinput input"
          />
          <input
          name="PARA_A"
            type="text"
            placeholder="Para A"
            class="page1-textinput01 input"
          />
          <input
          name="Risk_A"
            type="text"
            placeholder="Risk A"
            class="page1-textinput02 input"
          />
          <input
          name="PARA_B"
            type="text"
            placeholder="Para B"
            class="page1-textinput03 input"
          />
          <input
          name="Risk_B"
            type="text"
            placeholder="Risk B"
            class="page1-textinput04 input"
          />
          <input
          name="TOTAL"
            type="text"
            placeholder="Total"
            class="page1-textinput05 input"
          />
          <input
          name="numbers"
            type="text"
            placeholder="Numbers"
            class="page1-textinput06 input"
          />
          <input
          name="Money_Value"
            type="text"
            placeholder="Money value"
            class="page1-textinput07 input"
          />
          <input
          name="Score_MV"
            type="text"
            placeholder="Score B"
            class="page1-textinput08 input"
          />
          <input
          name="District_Loss"
            type="text"
            placeholder="District Loss"
            class="page1-textinput09 input"
          />
          <input
          name="History"
            type="text"
            placeholder="History"
            class="page1-textinput10 input"
          />
          <input
          name="Score"
            type="text"
            placeholder="Score"
            class="page1-textinput11 input"
          />
          <input
          name="Inherent_Risk"
            type="text"
            placeholder="Inherent Risk"
            class="page1-textinput12 input"
          />
          <input
          name="Audit_Risk"
            type="text"
            placeholder="Audit Risk"
            class="page1-textinput13 input"
          />
          <button type="submit" class="page1-navlink3 button">SUBMIT</button>
        </form>
      </div>
      <h4>{{pred}}</h4>
    </div>
    <script
      data-section-id="header"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
